{% extends "base.html" %}
{% block content %}
<h1>Add User</h1>
<br>
{% for category, message in get_flashed_messages(with_categories=true) %}
{% if category %}
  {% if category == 'delete' %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% else %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
{% else %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endfor %}

<form method="post">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.name.label }}
    {{ form.name(class='form-control') }}
  </div>
  <div class="form-group">
    {{ form.email.label }}
    {{ form.email(class='form-control') }}
  </div>
  <div class="form-group">
    {{ form.phone.label }}
    {{ form.phone(class='form-control') }}
  </div>
  {{ form.submit(class='btn btn-outline-info') }}
  <button type="button" name="button" class="show-user-btn btn btn-outline-success">Show Users</button>
</form>

<br>
<br>
<table class="user-list hidden table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    {% for our_user in our_users %}
    <tr>
      <th scope="row"> <a href="{{ url_for('update', id=our_user.id) }}">{{ our_user.id }}</a></th>
      <td>{{ our_user.name }}</td>
      <td>{{ our_user.email }}</td>
      <td>{{ our_user.phone }}</td>
      <td><a href="{{ url_for('delete', id=our_user.id ) }}">❌</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
