{% extends "base.html" %}
{% block content %}
<h1>Show Users</h1>
<br>
<br>
<table class="user-list table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row"> <a href="{{ url_for('update', id=user.id) }}">{{ user.id }}</a></th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td><a href="{{ url_for('delete', id=user.id ) }}">❌</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
