{% extends "base.html" %}
{% block content %}
<h1>Update User</h1>
<br>
{% for category, message in get_flashed_messages(with_categories=true) %}
{% if category %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% else %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endfor %}

<form action="/update/{{ name_to_update.id }}" method="post">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.name.label }}
    {{ form.name(class='form-control', value=name_to_update.name) }}
  </div>
  <div class="form-group">
    {{ form.email.label }}
    {{ form.email(class='form-control', value=name_to_update.email) }}
  </div>
  <div class="form-group">
    {{ form.phone.label }}
    {{ form.phone(class='form-control', value=name_to_update.phone) }}
  </div>
  {{ form.submit(class='btn btn-outline-info') }}
  <a href="{{ url_for('delete', id=id) }}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
  <button type="button" name="button" class="show-user-btn btn btn-outline-success">Show Users</button>
</form>

<br>
<br>
<table class="user-list hidden table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    {% for our_user in our_users %}
    <tr>
      <th scope="row">{{ our_user.id }}</th>
      <td>{{ our_user.name }}</td>
      <td>{{ our_user.email }}</td>
      <td>{{ our_user.phone }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
